@font-face {
    font-family: gabarito;
    src: url(../font/Gabarito/Gabarito-VariableFont_wght.ttf);
}

@font-face {
    font-family: playfair;
    src: url(../font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: gabarito;
    /* background-color: #000; */
    /* color: #fff; */
}

body {
    /* background-color: #eee; */
}

/* start nav  */
.main_nav {
    /* background-color: #fff; */
    /* background-color: #e6e4e4; */
    /* color: #fff; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
}

.nav_contact {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    margin: 0 0px 0 80px;
    /* background-color: #000; */
}
.logo {
    width: 90px;
    height: 80px;
    margin-right: 30px;
}

.nav_item {
    display: inline-block;
    list-style: none;
    /* text-decoration: none; */
    text-align: center;
    color: #fff;
    margin:  auto;
}

.main_nav ul {
    margin: auto 0;
    
}

.nav_item a{
    text-decoration: none;
    text-align: center;
    margin-left: 15px;
    font-size: 18px;
    padding: 26px 8px;
    /* background-color: blueviolet; */
    color: #b5b4b4;
    width: 100%;
    font-weight: bold;
}

.nav_item a:hover {
    border-bottom: 3px solid blue;
    color: #fff;
}

.nav_icon {
    margin: auto;
}
.nav_icon a{
    padding: 20px 10px;
    /* margin: 0 15px; */
    /* color: #000; */
    color: #b5b4b4;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav_icon a:hover{
    /* border: 1px solid #b5b4b4; */
    padding: 20px 12px;
    color: #fff;
    /* background-color: #b5b4b4; */
    border-radius: 5px;
}
/* End nav  */

/* start banner  */
.banner video, img {
    width: 100%;
    height: 760px;
    /* margin-bottom: 100px; */
    position: relative;
}

.banner_string {
    position: absolute;
    top: 210px;
    left: 80px;
    color: #fff;
}

.banner_string h1 {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 10px;
}

.banner_string h2 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #00f;
}

.banner_string p{
    font-size: 25px;
    /* font-weight: bold; */
    padding-bottom: 30px;
    margin-bottom: 40px;
    text-align: start;
    color: #fff;
}

.btn1 {
    text-decoration: none;
    border: 2px solid rgb(50, 50, 249);
    color: #d4d2d2;
    background-color: rgb(50, 50, 249);
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    /* background-color: #00f; */
}

.btn1:hover {
    background-color: #00f;
    color: #fff;
    border: 2px solid #00f;
    font-weight: bold;
    /* padding: 12px 30px; */
}

.btn2{
    text-decoration: none;
    border: 1px solid;
    color: #d4d2d2;
    /* background-color: rgb(50, 50, 249); */
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 40px;
}

.btn2:hover{
    /* background-color: #00f; */
    color: #fff;
    border: 2px solid #fff;
    font-weight: bold;
}



.main_km {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    left: 300px;
    top: 602px;
}

.km_card h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #923300;
}
.km_card h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    color: rgb(0, 0, 161);
}
.km_card p{
    font-size: 18px;
    text-align: center;
    color: #cccccc;
    padding-bottom: 9px;
}
.km_card {
    /* background-color: #eee; */
    color: #000;
    border: 1px solid #888888;
    border-radius: 8px;
    padding: 5px 0;
    text-align: center;
}

.km_card:hover{
    border: 1px solid #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
        transition: 0.3s;
}

.km_icon {
    color: #923300;
    /* background-color: #923300; */
    /* margin-left: 75px; */
}

/* End banner  */

/* start card  */

.main_card{
    margin-top: 100px;
    margin-bottom: 100px;
    /* background-color: #fff; */
}
.main_card h6 {
    text-align: center;
    font-size: 40px;
    /* font-style: oblique; */
    color: #000;
    font-weight: lighter;
    margin-bottom: 50px;
}

.card_main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 80%;
    margin: 0 auto;
    /* background-color: #b5b4b4; */
    /* font-weight: lighter; */
}

.card {
    text-align: center;
    color: #5a5858;
    font-weight: lighter;
    padding: 20px;
}


.card h2 {
    padding: 40px 0 30px 0;
    font-weight: lighter;
}

.card a{
    text-decoration: none;
    font-weight: lighter;
    font-size: 20px;
    border: 1px solid #444343;
    padding: 8px 10px;
    color: #474747;
    border-radius: 3px;
}
.card:hover{
    background-color: #eee;
}

.card a:hover {
    border: 2px solid #000;
    color: #000;
}

/* End card  */



/* start model  */

.main_model {
    width: 100%;
    /* height: 500px; */
    /* background-color: #aeacac; */
    margin-bottom: 100px;
    margin-top: 50px;
}
.model img{
    width: 50%;
    height: 350px;
    float: right;
    /* background-color: #000; */
}
.model img:hover{
    transform: translateY(-8px);
    transition: 0.3s;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
    transform: scale(0.500.0.500);
    transition: 1s;
    /* transform: scale(1.1);
        transition: 001.10s; */
}

.model {
    /* width: 95%; */
    margin: 0 auto;
    /* background-color: #00f; */
    display: flex;
}

.model_card {
    /* background-color: #dfdddd; */
    /* border: 2px solid; */
    width: 100%;
    padding-left: 100px;
    padding-top: 80px;
}

.model_card h1{
    font-size: 120px;
    font-weight: lighter;
    color: #00f;
}
.model_card p, h3{
    font-weight: lighter;
    margin-left: 10px;
}
.model_card p{
    margin-bottom: 30px;
}

.model_card a{
    text-decoration: none;
    color: #fff;
    border: 1px solid #000;
    margin-left: 10px;
    padding: 12px 15px;
    border-radius: 5px;
    /* font-weight: bold; */
    background-color: #100202;
    font-size: 18px;
}
.model_card a:hover{
    background-color: #929191;
    color: #fff;
    /* font-weight: bold; */
    border: 2px solid #929191;
}


/* End model  */

/* start shop  */
.main_shop {
   
    width: 100%;
    /* margin-bottom: 200px; */
    /* margin: auto; */
    /* background-color: #ca0e0e; */
    margin-top: 150px;

}
.main_shop_card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 5px; */
    width: 95%;
    margin: auto;
    
}

.shop_card{
    /* background-color: #00f; */
    /* margin: 0 100px; */
    width: 90%;
    /*  */
    height: 400px;
    padding: 10px;
    border: 1px solid #fff;
}
.shop_card:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    background-color: #eee;
    transform: translateY(-5px);
    transition: 1s;
    border: 2px solid #fff;
}
.shop_card img{
    width: 110%;
    height: 200px;
    /* margin-left: 10px; */
    margin-top: 0px;
}

.shop_card h2{
    text-align: center;
    font-weight: lighter;
    color: #00f;
    font-weight: bold;
}
.shop_card p{
    margin-left: 60px;
    padding: 25px 0;
}
.shop_span{
    float: right;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
.shop_card a{
    text-decoration: none;
    margin-left: 70px;
    border: 2px solid #686868;
    color: #fff;
    background-color: #686666;
    padding: 6px 12px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.shop_card a:hover{
    color: #000;
    background-color: #fff;
}

/* End shop  */


/* start performace */
.main_grille{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: ;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}
.grille_img img{
    width: 400px;
    height: 250px;
}
.grille_string h2{
    font-size: 25px;
    color: #00f;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
}
.grille_string p{
    font-size: 18px;
}
/* End performace  */



/* start about page  */
.about_page h1{
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-size: 35px;
}

.about_page p{
    text-align: center;
    margin: 60px 170px;
    font-weight: lighter;
    font-size: 20px;
}
/* End about page  */

/* start service page  */
.service_nav_item a:hover{
    color: #000;
}
.service_main_nav{
    /* position: relative; */
    z-index: -100;
    /* width: 0; */
}

.service h1{
    font-weight: lighter;
    margin: 150px 0 0 0;
    font-size: 30px;
    text-align: center;
}
.service p{
    margin: 50px 0;
    text-align: center;
}

.main_service{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    /* margin-bottom: 100px; */
}

/* End service page  */

/* start footer  */
.main_footer{
    padding: 20px 80px;
    background-color: #363535;
    padding-bottom: 120px;
    color: #cccbcb;
    margin-top: 100px;
}
.logo_footer {
    display: flex;
}
.logo_footer img{
    width: 60px;
    height: 55px;
}
.logo_footer h2{
    margin-top: 10px;
    margin-left: 30px;
}
.logo_footer h5{
    margin-top: 15px;
    margin-left: 50px;
    font-size: 16px;
}
.footer_icon{
    padding-top: 15px;
    margin-left: 480px;
    /* padding-left: 20px; */
}

#icon2{
    margin-left: 8px;
    /* border: 2px solid #fff; */
}

#icon3{
    margin-left: 8px;
}
#icon4{
    margin-left: 8px;
}
#icon1:hover{
    color: #fff;
}
#icon2:hover {
    color: #fff;
}
#icon3:hover {
    color: #fff;
}
#icon4:hover {
    color: #fff;
}

.all_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}
.page_main a,li{
    display: block;
    margin-top: 20px;
    color: #afafaf;
    text-decoration: none;
    font-size: 18px;
}
.page_main a:hover{
    color: #fff;
}

/* End footer  */