/* Universal seletor */
* {
    margin: 0;
    padding: 0;
}

/* tag selector / element selector */
h1 {
    color: blue;
    text-align: center;
}

/* attribute selector */
a[title] {
    color: green;
}

/* id selector */
#idselector {
    color: blue;
    font-size: 50px;
}

/*class selector */
.classselector{
    color: brown;
    text-transform: capitalize;
    font-size: 30px;
    text-indent: 50px;

}

/* Descindant selector */
.desc a {
    color: red;
}

/* Child selector */
.child > a {
    color: red;
}

/* Pseudo */
a:link {
    color: red;
    text-decoration: none;
}

a:hover {
    color: green;
    letter-spacing: 10px;
}

a:active {
    color: blue;
    font-size: 20px;
}

a:visited {
    color: purple;
}

/*target */
:target {
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Border */
.borderOne {
    border: 2px solid red;
    /* size style color */

}
.borderTwo {
    border-top: 5px solid green;
    /* border-right: 5px solid red;
    border-left: 5px solid red;
    border-bottom: 5px solid red; */
}

/* border width */
.borderThree {
    border-style: solid;
    /* border-width: 10px;
    /* T / R / B / L */
    /* border-width: 5px 50px;
    /* T&B / R&L */
    /* border-width: 5px 10px 50px;
    /* T / R&L / B */
    border-width: 5px 10px 15px 20px;
    T / R / B / L */
}

/* border style */

.borderFour{
    border-style: solid;
    /* border-style: solid dotted; 
    border-style: dotted dashed solid;
    border-style: dotted dashed solid double;
    border-width: 5px;
    border-color: green yellow red blue; */
}

/* margin */

.marginOne {
    border: 2px solid red;
    /* margin: 50px 0 0 0; */

    margin-top: 50px;
}

/*Padding */

.paddingOne {
    /* padding: 50px; */
    border: 2px solid red;

    padding-left: 50px;
}


/* inline layout */

.inline {
    border: 2px solid red;
    width: 300px;
    display: inline-block;
}

.block {
    border: 2px solid red;
    width: 300px;
    display: inline-block;
}

/* float */

.Float {
    width: 50%;
    float: right;
}

.clear {
    clear: both;
}

.Float_left {
    width: 50%;
    float: left;
}

/* flex lesson */

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: red;
}

/* grid lesson */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: auto auto auto; */
    color: #ffffff;
    grid-gap: 30px;
}

.grid_child {
    padding: 30px;
    text-align: center;
}

