/* Universal seletor */
/** {
    color: red;
}

/* tag selector / element selector */
h1 {
    color: blue;
    text-align: center;
}

/* attribute selector */
a[title] {
    color: green;
}

/* id selector */
#idselector {
    color: blue;
    font-size: 50px;
}

/*class selector */
.classselector{
    color: brown;
    text-transform: capitalize;
    font-size: 30px;
    text-indent: 50px;

}

/* Descindant selector */
.desc a {
    color: red;
}

/* Child selector */
.child > a {
    color: red;
}

/* Pseudo */
a:link {
    color: red;
    text-decoration: none;
}

a:hover {
    color: green;
    letter-spacing: 10px;
}

a:active {
    color: blue;
    font-size: 20px;
}

a:visited {
    color: purple;
}

/*target */
:target {
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}